body {
    font-family: sans-serif;
}
li{
    list-style: none;
}
.card {
    width: 100%;
    max-width: 18rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
  }
  .card-img-top {
    width: 100%;
    height: 150px;
  }
  .card-body {
    padding: 10px;
  }
  .card-text {
    font-size: 14px;
    color: #555;
  }
  .card p {
    color: #6d6c6c;
  }
  ul {
    color: #6d6c6c;
    font-size: .8rem;
  }
  #carouselExample {
    margin-top: 120px;
  }
  .carousel {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
  }
  .item-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: auto;
  }
  .carousel-control-prev,
  .carousel-control-next {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.carousel-control-prev {
  left: 10px;
}
.carousel-control-next {
  right: 10px;
}


@media (max-width: 768px) {
  .carousel-inner {
      display: flex;
      flex-direction: row; 
      overflow-x: scroll;
      scroll-snap-type: x mandatory;/
  }

  .carousel-item {
      flex: 0 0 100%; 
      scroll-snap-align: start; 
      min-width: auto; 
  }

  .carousel-control-prev,
  .carousel-control-next {
      top: 50%; 
      transform: translateY(-50%);
      padding: 5px; 
  }
}
@media (max-width: 576px) {
  .carousel {
      width: 100%;
  }

  .carousel-inner {
      display: grid;
      grid-template-columns: 1fr;
  }

  .carousel-item {
      width: 100%;
      min-width: auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
  }
}